# Virtual environment
.venv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Linters and type checkers
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/
